:root {
  --color-on-tertiary-fixed-variant: #92002a;
  --color-inverse-surface: #e3e2e5;
  --color-on-surface-variant: #40484a;
  --color-on-primary-fixed: #002022;
  --color-outline: #70787d;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-inverse-on-surface: #303033;
  --color-primary: #006a71;
  --color-background: #f8f9fa;
  --color-outline-variant: #c0c8cc;
  --color-surface-variant: #e1e3e5;
  --color-on-primary: #ffffff;
  --color-on-tertiary-fixed: #40000d;
  --color-on-primary-fixed-variant: #004f54;
  --color-on-primary-container: #002022;
  --color-on-background: #121315;
  --color-tertiary-fixed: #ffdadb;
  --color-on-secondary-fixed-variant: #005236;
  --color-on-secondary: #ffffff;
  --color-surface-bright: #38393b;
  --color-surface-container-lowest: #ffffff;
  --color-error-container: #ffdad6;
  --color-surface-dim: #121315;
  --color-on-secondary-container: #002113;
  --color-surface: #ffffff;
  --color-inverse-primary: #00696f;
  --color-surface-container-highest: #dadce0;
  --color-on-error-container: #410002;
  --color-primary-fixed-dim: #00dbe7;
  --color-secondary-container: #6ffbbe;
  --color-primary-container: #e1fdff;
  --color-on-tertiary-container: #be0d3c;
  --color-secondary-fixed: #6ffbbe;
  --color-surface-tint: #00dbe7;
  --color-surface-container-low: #f8f9fa;
  --color-tertiary-fixed-dim: #ffb2b7;
  --color-surface-container-high: #e8eaed;
  --color-on-tertiary: #67001b;
  --color-secondary-fixed-dim: #4edea3;
  --color-surface-container: #f1f3f4;
  --color-on-surface: #121315;
  --color-secondary: #006c4a;
  --color-tertiary-container: #ffcfd1;
  --color-primary-fixed: #74f5ff;
  --color-tertiary: #fff5f4;
  --color-on-secondary-fixed: #002113;
}

.dark {
  --color-on-tertiary-fixed-variant: #92002a;
  --color-inverse-surface: #e3e2e5;
  --color-on-surface-variant: #b9cacb;
  --color-on-primary-fixed: #002022;
  --color-outline: #849495;
  --color-error: #ffb4ab;
  --color-on-error: #690005;
  --color-inverse-on-surface: #303033;
  --color-primary: #e1fdff;
  --color-background: #121315;
  --color-outline-variant: #3a494b;
  --color-surface-variant: #343537;
  --color-on-primary: #00363a;
  --color-on-tertiary-fixed: #40000d;
  --color-on-primary-fixed-variant: #004f54;
  --color-on-primary-container: #006a71;
  --color-on-background: #e3e2e5;
  --color-tertiary-fixed: #ffdadb;
  --color-on-secondary-fixed-variant: #005236;
  --color-on-secondary: #003824;
  --color-surface-bright: #38393b;
  --color-surface-container-lowest: #0d0e10;
  --color-error-container: #93000a;
  --color-surface-dim: #121315;
  --color-on-secondary-container: #00311f;
  --color-surface: #121315;
  --color-inverse-primary: #00696f;
  --color-surface-container-highest: #343537;
  --color-on-error-container: #ffdad6;
  --color-primary-fixed-dim: #00dbe7;
  --color-secondary-container: #00a572;
  --color-primary-container: #00f2ff;
  --color-on-tertiary-container: #be0d3c;
  --color-secondary-fixed: #6ffbbe;
  --color-surface-tint: #00dbe7;
  --color-surface-container-low: #1b1c1e;
  --color-tertiary-fixed-dim: #ffb2b7;
  --color-surface-container-high: #292a2c;
  --color-on-tertiary: #67001b;
  --color-secondary-fixed-dim: #4edea3;
  --color-surface-container: #1f2022;
  --color-on-surface: #e3e2e5;
  --color-secondary: #4edea3;
  --color-tertiary-container: #ffcfd1;
  --color-primary-fixed: #74f5ff;
  --color-tertiary: #fff5f4;
  --color-on-secondary-fixed: #002113;
}
